@use 'custom';

//IMPORT COMPONENTS

@use 'components/layout';
@use 'components/buttons';
@use 'components/cards';

@use 'components/typography';
@use 'components/images';

//IMPORT SECTIONS

@use 'sections/navbar';
@use 'sections/bio';

@use 'sections/footer';